<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="orders">

        <h1>All orders</h2>
            
            <ul>
                {% for order in orders %}
                <div class="individual-orders">
                    <h2>Order number :{{loop.index}}</p>
                        <h3>Ordered by:</h3>
                        <img class="customer-pic" src="https://picsum.photos/50/50">
                        <p>{{order.customer_name}}</p>
                        <p>
                            <a href="orders/{{orders.index(order)}}">View Order</a>
                            
                        </p>
                    </div>
                    
                    {% endfor %}
                </ul>
            </div>
                
</body>
</html>